/* @media screen and (max-width: 320px){
div.icon-bar{
        display: block!important;
    } 
    .bg1{
        width: 1349px !important;
    }
 .firstTemplate{
        width: 1200px;
    }
    .secondTemplate{
        width: 1200px;
    }
} */
/* @media (max-width: 1024px){
    
}
@media (max-width: 768px){
    div.icon-bar{
        display: block!important;
    }
} */