*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat';
}
.bg1{
    background-image: url('../assets/furniture2.jpg');
}
.bg2{
    background-image: url('../assets/furniture3.jpg');
}
.bg3{
    background-image: url('../assets/furniture4.jpg');
}
.font-weight-700{
    font-weight: 700;
}
.font-weight-600{
    font-weight: 600;
}
.font-weight-500{
    font-weight: 500;
}
.font-weight-400{
    font-weight: 400;
}
.font-size-60{
    font-size: 60px;
}
.font-size-44{
    font-size: 44px;
}
.font-size-35{
    font-size: 35px;
}
.font-size-26{
    font-size: 26px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-18{
    font-size: 18px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-15{
    font-size: 15px;
}
.font-size-14{
    font-size: 14px;
}
.font-size-12{
    font-size: 13px;
}
.color-ff7012{
    color: #ff7012;
}
.color-7d7d7d{
    color: #7d7d7d;
}
.color-6c6c6c{
    color: #6c6c6c;
}
.color-5a5a5a{
    color: #5a5a5a;
}
.color-0a0a0a{
    color: #0a0a0a;
}
.color-0f0f0f{
    color: #0f0f0f;
}
.color-000000{
    color: #000000;
}
.color-686868{
    color: #686868;
}
.bg-color-171717{
    background-color: #171717;
}
.bg-color-ff7012{
    background-color: #ff7012;
}
.width-960{
    width: 960px;
}
.width-560{
    width: 560px;
}
.width-220{
    width: 220px;
}
.width55{
    width: 55px;
}
.cursor-pointer{
    cursor: pointer;
}
.outline-none{
    outline: none;
}
.border-none{
    border: none;
}
.header:hover{
    font-weight: 600;
    color: #ff7012;
}
.header1:hover{
    font-weight: 700;
    color: #ff7012;
}
.new-collection{
    height: 30px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 30px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 12px;
    border-radius: 15px;
    color: #ffffff;
}
.purchase{
    height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 50px;
    padding-left: 28px;
    padding-right: 28px;
    font-size: 16px;
    border-radius: 3px;
    background-color: #171717;
    color: #ffffff;
    margin-left: 10px;
}
.purchase:hover{
    background-color: #ff7012;
}
input{
    font-size: 13px;
    color: #7d7d7d;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 0px 20px 0px 20px;
    height: 50px;
    width: 720px;
    border: 1px solid #ebebeb;
}
.padding-copy{
    border-top: 1px solid #ebebeb;
    padding: 35px 15px 35px 15px;
}
#facebookIcon:hover,
#twitterIcon:hover,
#instagramIcon:hover,
#searchIcon:hover,
#cartIcon:hover{
    color: #ff7012;
    cursor: pointer;
}
.margin60{
    margin: 60px;
}
.margin-60{
    margin: 0px 60px 60px 60px;
}
.margin25{
    margin: 25px;
}
.line-height-30{
    line-height: 30px;
}
.padding5{
    padding: 5px 20px 5px 20px;
}
.margin75right{
    margin: 0px 75px 0px 75px;
}
#arrowDown:hover{
    cursor: pointer;
    color: #ff7012;
}
.line-height-120per{
    line-height: 120%;
}
.footer-font:hover{
    font-size: 13px;
    font-weight: 500;
    color: #ff7012;
    cursor: pointer;
}
.footer-font2:hover{
    font-size: 14px;
    font-weight: 700;
    color: #686868;
    cursor: pointer;
}
#visaIcon,
#masterIcon,
#amexIcon,
#paypalIcon,
#jcbIcon{
    font-size: 30px;
}
#visaIcon:hover,
#masterIcon:hover,
#amexIcon:hover,
#paypalIcon:hover,
#jcbIcon:hover{
    color: #686868;
    cursor: pointer;
    font-size: 30px;
}
.margin35{
    margin: 35px;
}
#clockIcon,
#truckIcon,
#walletIcon{
    color: #a9a9a9;
    font-size: 50px;
    margin-bottom: 35px;
}
.padding80{
    padding: 80px;
}
.padding-top-80{
    padding-top: 80px;
}
.margin200{
    margin: 200px 0px 10px 0px;
}
.margin-200{
    margin: 10px 0px 200px 0px;
}
.margin200{
    margin: 50px 200px 0px 200px;
}
.margin-200{
    margin: 5px 200px 0px 200px;
}
.margin100{
    margin: 100px;
}
.img-width{
    width: 195px;
}
.margin300{
    margin: 50px 300px 50px 300px;
}
.buttonMargin{
    margin: 50px 0px 0px 0px;
}
.margin-top-250{
    margin-top: 250px;
}
.margin-bottom-250{
    margin-bottom: 250px;
}
.width200{
    width: 200px;
}
.margin-right-10{
    margin-right: 10px;
}
.margin-top-25{
    margin-top: 25px;
}
.cartHover:hover{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #ff7012;
    cursor: pointer;
}
.margin-top-35{
    margin-top: 35px;
}
.margin-top-25{
    margin-top: 25px;
}
.margin-bottom25{
    margin-bottom: 25px;
}
.padding-bottom100{
    padding-bottom: 100px;
}
.margin-right5{
    margin-right: 5px;
}
::placeholder {
    font-style:italic;
}
.icon-bar{
    position: fixed;
    top: 150px;
    right: 25px;
    width: 60px;
    background-color: rgba(255,255,2555,1);
    border-radius: 5px;
    margin-right: 15px;
    box-shadow: -10px 0px 20px 2px #0000000f;
    z-index: 10;
}
.button-top{
    position: fixed;
    top: 550px;
    right: 25px;
    width: 60px;
    background-color: rgba(255,255,2555,1);
    border-radius: 100px;
    border: none;
    outline: none;
    padding: 10px;
    margin-right: 15px;
    box-shadow: -10px 0px 20px 2px #0000000f;
    z-index: 10;
}
#arrowup{
    font-size: 30px;
    color: #7d7d7d;
}
#scrollToTopBtn:hover{
    background-color: #ff7012;
}
.iconbar-10{
    padding: 20px;
    cursor: pointer;
}
.iconbar-10:hover{
    color: #0078aa;
}
.nav-bar1{
    position: sticky;
}

#animation1{
    animation-name: anime1;
    animation-duration: 2s;
    position: relative;
}
@keyframes anime1{
    0%  {bottom:25px;}
    100%    {bottom:0px;}
}
#animation2{
    animation-name: anime2;
    animation-duration: 2s;
    position: relative;
}
@keyframes anime2{
    0%  {bottom:25px;}
    100%    {bottom:0px;}
}
#animation3{
    animation-name: anime3;
    animation-duration: 2s;
    position: relative;
}
@keyframes anime3{
    0%  {bottom:25px;}
    100%    {bottom:0px;}
}
#image1-animation{
    animation-name: anime4;
    animation-duration: 1s;
    transform-origin: bottom right;
    position: relative;
    animation-fill-mode: forwards;
}
@keyframes anime4{
    0%  {transform: rotate(45deg);}
    100%    {transform: rotate(0deg);}
}
#image2-animation{
    animation-name: anime5;
    animation-duration: 1s;
    transform-origin: bottom left;
    position: relative;
    animation-fill-mode: forwards;
}
@keyframes anime5{
    0%  {transform: rotate(45deg);}
    100%    {transform: rotate(0deg);}
}

.dis-none{
    display: none;
}

@media (max-width: 1024px){
	
}
@media (max-width: 768px){
	
	div .icon-bar{
        display: none!important;
    }
}
@media screen and (max-width: 425px){
	div.icon-bar{
        display: none!important;
    }
    .hide-button{
        display: block;
    }
}

