*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat';
}
.bg1{
    background-image: url('../assets/furniture2.jpg');
}
.bg2{
    background-image: url('../assets/furniture3.jpg');
}
.bg3{
    background-image: url('../assets/furniture4.jpg');
}
.font-weight-700{
    font-weight: 700;
}
.font-weight-600{
    font-weight: 600;
}
.font-weight-500{
    font-weight: 500;
}
.font-weight-400{
    font-weight: 400;
}
.font-size-60{
    font-size: 60px;
}
.font-size-44{
    font-size: 44px;
}
.font-size-35{
    font-size: 35px;
}
.font-size-26{
    font-size: 26px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-18{
    font-size: 18px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-15{
    font-size: 15px;
}
.font-size-14{
    font-size: 14px;
}
.font-size-12{
    font-size: 12px;
}
.color-ff7012{
    color: #ff7012;
}
.color-7d7d7d{
    color: #7d7d7d;
}
.color-6c6c6c{
    color: #6c6c6c;
}
.color-5a5a5a{
    color: #5a5a5a;
}
.color-0a0a0a{
    color: #0a0a0a;
}
.color-0f0f0f{
    color: #0f0f0f;
}
.color-000000{
    color: #000000;
}
.color-686868{
    color: #686868;
}
.bg-color-171717{
    background-color: #171717;
}
.bg-color-ff7012{
    background-color: #ff7012;
}
.width-960{
    width: 960px;
}
.width-560{
    width: 560px;
}
.width-220{
    width: 220px;
}
.width55{
    width: 55px;
}
.cursor-pointer{
    cursor: pointer;
}
.outline-none{
    outline: none;
}
.border-none{
    border: none;
}
.header:hover{
    font-weight: 600;
    color: #ff7012;
}
.header1:hover{
    font-weight: 700;
    color: #ff7012;
}
.new-collection{
    height: 30px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 30px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 12px;
    border-radius: 15px;
    color: #ffffff;
}
.purchase{
    height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 50px;
    padding-left: 28px;
    padding-right: 28px;
    font-size: 16px;
    border-radius: 3px;
    background-color: #171717;
    color: #ffffff;
}
.purchase:hover{
    background-color: #ff7012;
}
input{
    font-size: 13px;
    color: #7d7d7d;
    background-color: #f8f8f8;
    border-color: #ebebeb;
    border-radius: 5px;
    padding: 0px 20px 0px 0px;
    height: 50px;
    width: 720px;
}
.padding-copy{
    border-top: 1px solid #ebebeb;
    padding: 35px 15px 35px 15px;
}
#facebookIcon:hover,
#twitterIcon:hover,
#instagramIcon:hover,
#searchIcon:hover,
#cartIcon:hover{
    color: #ff7012;
    cursor: pointer;
}
.margin60{
    margin: 60px;
}
.margin-60{
    margin: 0px 60px 60px 60px;
}
.margin25{
    margin: 25px;
}
.line-height-30{
    line-height: 30px;
}
.padding5{
    padding: 5px 20px 5px 20px;
}
.margin75right{
    margin: 0px 75px 0px 75px;
}
#arrowDown:hover{
    cursor: pointer;
    color: #ff7012;
}
.line-height-120per{
    line-height: 120%;
}
.footer-font:hover{
    font-size: 12px;
    font-weight: 500;
    color: #ff7012;
    cursor: pointer;
}
.footer-font2:hover{
    font-size: 14px;
    font-weight: 700;
    color: #686868;
    cursor: pointer;
}
#visaIcon,
#masterIcon,
#amexIcon,
#paypalIcon,
#jcbIcon{
    font-size: 30px;
}
#visaIcon:hover,
#masterIcon:hover,
#amexIcon:hover,
#paypalIcon:hover,
#jcbIcon:hover{
    color: #686868;
    cursor: pointer;
    font-size: 30px;
}
.margin35{
    margin: 35px;
}
#clockIcon,
#truckIcon,
#walletIcon{
    color: #686868;
    font-size: 50px;
}
.padding80{
    padding: 80px;
}
.padding-top-80{
    padding-top: 80px;
}
.margin200{
    margin: 200px 0px 10px 0px;
}
.margin-200{
    margin: 10px 0px 200px 0px;
}
.margin200{
    margin: 50px 200px 0px 200px;
}
.margin-200{
    margin: 5px 200px 0px 200px;
}
.margin100{
    margin: 100px;
}
.img-width{
    width: 195px;
}
.margin300{
    margin: 50px 300px 50px 300px;
}
.buttonMargin{
    margin: 50px 0px 0px 0px;
}
.margin-top-250{
    margin-top: 250px;
}
.margin-bottom-250{
    margin-bottom: 250px;
}
.width200{
    width: 200px;
}
.margin-right-10{
    margin-right: 10px;
}
.margin-top-25{
    margin-top: 25px;
}
.cartHover:hover{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #ff7012;
    cursor: pointer;
}
.margin-top-35{
    margin-top: 35px;
}
.margin-top-25{
    margin-top: 25px;
}

